image:
  repository: 076831690411.dkr.ecr.ap-northeast-2.amazonaws.com/neodohae_nextjs
  tag: 1e5673904d1297622b3416ef01046b972bc9e5e5
  port: 4100
service:
  name: neodohae-nextjs-service
  type: LoadBalancer
  port: 80
  targetPort: 4100
hpa:
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilization: 70
  targetMemoryUtilization: 70
